- name: send slack message
  community.general.slack:
    msg: "{{ ansibullbot_slack_message }}"
    token: "{{ ansibullbot_slack_token }}"
  when: ansibullbot_slack_token != []

- name: restart ansibullbot
  systemd:
    name: ansibullbot
    daemon_reload: true
    state: restarted

- name: restart ansibullbot-receiver
  systemd:
    name: ansibullbot-receiver
    daemon_reload: true
    state: restarted

- name: reload caddy
  service:
    name: caddy
    state: reloaded

- name: Create SELinux policy module
  command: checkmodule -M -m -o {{ ansibullbot_home_dir }}/ansibot_status.mod {{ ansibullbot_home_dir }}/ansibot_status.te
  listen: update_selinux_module

- name: Compile SELinux policy package
  command: semodule_package -m {{ ansibullbot_home_dir }}/ansibot_status.mod -o {{ ansibullbot_home_dir }}/ansibot_status.pp
  listen: update_selinux_module

- name: Install SELinux policy package
  command: semodule -i {{ ansibullbot_home_dir }}/ansibot_status.pp
  listen: update_selinux_module

- name: restorecon
  command: restorecon -ir {{ ansibullbot_home_dir }}
