#jinja2:lstrip_blocks: True
[defaults]
debug={{ ansibullbot_debug }}
github_username={{ ansibullbot_github_username }}
github_password={{ ansibullbot_github_password }}
github_token={{ ansibullbot_github_token }}
shippable_token={{ ansibullbot_shippable_token }}
{% if ansibullbot_slack_url is defined %}
slack_url={{ ansibullbot_slack_url }}
{% endif %}
{% if ansibullbot_notify_email is defined %}
email={{ ansibullbot_notify_email }}
{% endif %}
{% if ansibullbot_repos is defined %}
repos=
{% for repo in ansibullbot_repos %}
    {{ repo }}{% if not loop.last %},
    {% endif %}
{% endfor %}

{% endif %}
{% if ansibullbot_collection_repos is defined %}
collection_repos=
{% for repo in ansibullbot_collection_repos %}
    {{ repo }}{% if not loop.last %},
    {% endif %}
{% endfor %}

{% endif %}

[receiver]
host={{ ansibullbot_receiver_host }}
port={{ ansibullbot_receiver_port }}

[sentry]
{% if ansibullbot_sentry_url is not none %}
dsn={{ ansibullbot_sentry_url }}
{% endif %}
server_name={{ ansibullbot_sentry_server_name }}
env={{ ansibullbot_sentry_env }}
trace={{ ansibullbot_sentry_trace | string | capitalize }}
