[defaults]
debug={{ ansibullbot_debug }}
github_username={{ ansibullbot_github_username }}
github_password={{ ansibullbot_github_password }}
github_token={{ ansibullbot_github_token }}
shippable_token={{ ansibullbot_shippable_token }}
{% if ansibullbot_slack_url is defined %}
slack_url={{ ansibullbot_slack_url }}
{% endif %}
{% if ansibullbot_notify_email is defined %}
email={{ ansibullbot_notify_email }}
{% endif %}

[receiver]
host={{ ansibullbot_receiver_host }}
port={{ ansibullbot_receiver_port }}
