[defaults]
debug={{ ansibullbot_debug }}
github_username={{ ansibullbot_github_username }}
github_password={{ ansibullbot_github_password }}
github_token={{ ansibullbot_github_token }}
shippable_token={{ ansibullbot_shippable_token }}

[receiver]
host={{ ansibullbot_receiver_host }}
port={{ ansibullbot_receiver_port }}
