{{ ansibullbot_url }}
root {{ caddy_root }}
proxy /schemavalidator/ 172.20.0.4:5000
proxy /schemavalidator/static/ 172.20.0.4:5000

cgi {
    match /cgi-bin/ansibot_status.cgi
    exec {root}/cgi-bin/ansibot_status.cgi
}

cgi {
    match /status
    exec {root}/cgi-bin/ansibot_status.cgi
}
