{{ ansibullbot_url }}
root {{ caddy_root }}/ansibot/html
log / {{ caddy_log_path }}/ansibot_access.log
errors {{ caddy_log_path }}/ansibot_error.log {
    404 error.html
}
status 404 error.html

# Proxy schemavalidator with or without trailing /
redir /schemavalidator /schemavalidator/
proxy /schemavalidator/ 172.20.0.4:5000 {
    without /schemavalidator
}

# Allow browsing /metadata
browse /metadata

# Prevent access to dotfiles
rewrite {
    if {path} starts_with .
    to error.html
}

# Accept /byfile and /byfile/ when you want the HTML byfile page
redir /ansibot/metadata/byfile_sorted.html /metadata/byfile_sorted.html 301
rewrite {
    r ^/byfile/?$
    to /metadata/byfile_sorted.html
}

cgi {
    match /cgi-bin/ansibot_status.cgi
    exec {{ caddy_root }}/cgi-bin/ansibot_status.cgi
}

cgi {
    match /status
    exec {{ caddy_root }}/cgi-bin/ansibot_status.cgi
}

{% if 'dev' in inventory_hostname %}
tls {
    ca https://acme-staging-v02.api.letsencrypt.org/directory
}
{% endif %}
