{{ ansibullbot_url }} {
    root * {{ caddy_root }}/ansibot/html

    @notcgi {
        not path /status /actions
    }
    file_server @notcgi

    log {
        output file {{ ansibullbot_caddy_log_path }}/ansibot.log {
            roll_size 500MiB
            roll_keep 10
            roll_keep_for 720h
        }
    }
    {% if 'dev' in inventory_hostname %}

    tls {
        ca https://acme-staging-v02.api.letsencrypt.org/directory
    }
    {% endif %}

    handle_errors {
        rewrite * /error.html
        file_server
    }

    # Prevent access to dotfiles
    rewrite /.* /error.html

    # Allow browsing /metadata
    file_server /metadata/* browse {
        hide .*
    }

    # Accept /byfile and /byfile/ when you want the HTML byfile page
    redir   /ansibot/metadata/byfile_sorted.html /metadata/byfile_sorted.html 301
    rewrite /byfile  /metadata/byfile_sorted.html
    rewrite /byfile/ /metadata/byfile_sorted.html

    cgi /status {{ ansibullbot_venv_dir }}/bin/python {{ ansibullbot_clone_path }}/scripts/ansibot_status.cgi
    cgi /actions {{ ansibullbot_venv_dir }}/bin/python {{ ansibullbot_clone_path }}/scripts/ansibot_actions.py
}
