# {{ ansible_managed }}
[Unit]
Description=Ansibullbot
After=syslog.target

[Service]
Type=simple
User={{ ansibullbot_user }}
Group={{ ansibullbot_group }}

Restart=on-failure

StandardOutput=null
StandardError=null

ExecStartPost=-/bin/sh -c "{{ ansibullbot_clone_path }}/scripts/slack-notice.py -m 'I just started'"
ExecStart={{ ansibullbot_clone_path }}/triage_ansible.py --daemonize --daemonize_interval={{ ansibullbot_daemonize_interval }} --debug --verbose --issue_component_matching --skip_no_update --skip_no_update_timeout --force --logfile {{ ansibullbot_log_path }}
ExecStopPost=-/bin/sh -c "{{ ansibullbot_clone_path }}/scripts/slack-notice.py -m 'I just stopped'"
WorkingDirectory={{ ansibullbot_clone_path }}

[Install]
WantedBy=multi-user.target
