#jinja2: trim_blocks: False
# {{ ansible_managed }}
[Unit]
Description=Ansibullbot
After=syslog.target

[Service]
Type=simple
User={{ ansibullbot_user }}
Group={{ ansibullbot_group }}

Restart=on-failure

StandardOutput=null
StandardError=null

ExecStartPost=-/bin/sh -c "{{ ansibullbot_clone_path }}/scripts/slack-notice.py -m '{{ ansibullbot_start_message }}'"
ExecStart={{ ansibullbot_clone_path }}/triage_ansible.py {% for option in ansibullbot_options %}--{{ option }}{% if not loop.last %} {% endif %}{% endfor %}
ExecStopPost=-/bin/sh -c "{{ ansibullbot_clone_path }}/scripts/slack-notice.py -m '{{ ansibullbot_stop_message }}' -e"
WorkingDirectory={{ ansibullbot_clone_path }}

[Install]
WantedBy=multi-user.target
