# {{ ansible_managed }}
[Unit]
Description=Ansibullbot
After=syslog.target

[Service]
Type=simple
User={{ ansibullbot_user }}
Group={{ ansibullbot_group }}
TimeoutStartSec=infinity
Restart=on-failure
StandardOutput=null
StandardError=null
ExecStart={{ ansibullbot_clone_path }}/triage_ansible.py --daemonize --daemonize_interval={{ ansibullbot_daemonize_interval }} --debug --verbose --issue_component_matching --force --logfile {{ ansibullbot_log_path }}
WorkingDirectory={{ ansibullbot_clone_path }}

[Install]
WantedBy=multi-user.target
