# {{ ansible_managed }}
[Unit]
Description=Run Ansibullbot
After=network.target

[Service]
Type=forking
PIDFile=/var/run/ansibullbot
ExecStart=/home/{{ ansibullbot_user }}/ansibullbot/triage_ansible.py --collect_only --daemonize --daemonize_interval=360 --issue_component_matching --skip_no_update --logfile {{ ansibullbot_log_path }}
User={{ ansibullbot_user }}

[Install]
WantedBy=default.target
